
<nb-card>
  <nb-card-header>
    <div *ngIf="title"><span>{{title}}</span></div>
    <span>PNR: {{currentPnr.PnrNumber}}</span>
    <jupiter-booking-status [status]="currentPnr['BookingStatus']"></jupiter-booking-status>
  </nb-card-header>
  <nb-card-body>

    <div class="row align-items-center">
      <div class="col-sm-10 pr-0">
        <div *ngFor="let segment of currentPnr.FlightSegments; let segIndex = index;" class="container p-0">
          <jupiter-segment-display [segment]="segment" showSegmentId="true" [segIndex]="segIndex" [lastStepGroupId]="segIndex > 0 ? currentPnr.FlightSegments[segIndex-1].StepGroupId : '0'" [paxFares]="currentPnr.Fare?.PaxFareList"></jupiter-segment-display>
        </div>
      </div>
      <div class="col-sm-2">
        <div [ngSwitch]="currentPnr.ConnectorCode" class="text-right">
          <span *ngSwitchCase="'AMADEUS'" class="badge amadeus-color text-white p-2 m-1">{{currentPnr.ConnectorCode}} {{currentPnr.Fare?.Id}}</span>
          <span *ngSwitchCase="'SABRE'" class="badge sabre-color text-white p-2 m-1">{{currentPnr.ConnectorCode}} {{currentPnr.Fare?.Id}}</span>
          <span *ngSwitchDefault class="badge bg-info text-white p-2 m-1">{{currentPnr.ConnectorCode}}</span>

          <span class="float-right">
                <i class="fas fa-bug" (click)="isDebug = true;"></i>
              </span>
        </div>

        <div class="text-right" *ngIf="currentPnr.Fare">
          <div>
            <span class="font-weight-bold h5">{{currentPnr.Fare.Amount.Amount}}</span>
            <span>{{currentPnr.Fare.Amount.Currency}}</span>
          </div>
          <div *ngIf="currentPnr.Fare.FeeList && currentPnr.Fare.FeeList.length > 0">
            <span class="text-warning font-weight-bold cursor-pointer" [ngbPopover]="feesTemplate" placement="left" container="body" popoverTitle="Fee List" triggers="mouseenter:mouseleave">Included Fees <i class="fas fa-info-circle"></i></span>

            <ng-template #feesTemplate>
              <div *ngFor="let fee of currentPnr.Fare.FeeList">
                <div class="font-weight-bold">{{fee.Code}} - {{fee.Name}}</div>
                <div>{{fee.Amount}} {{fee.Currency}}</div>
                <hr>
              </div>
            </ng-template>

          </div>
        </div>

      </div>
    </div>

    <nb-accordion class="shadow-none border-box p-0">
      <nb-accordion-item expanded="false">
        <nb-accordion-item-header class="font-weight-bold">PNR Infos</nb-accordion-item-header>
        <nb-accordion-item-body>
          <!-- Details and Pax -->
          <div class="row">
            <div class="col-sm-6">
              <nb-card class="shadow-none">
                <nb-card-header>Book Infos</nb-card-header>
                <nb-card-body>
                  <div><span class="text-black-50 mr-2">Pnr:</span> {{currentPnr.PnrNumber}}</div>
                  <div><span class="text-black-50 mr-2">Status:</span> <jupiter-booking-status [status]="currentPnr['BookingStatus']"></jupiter-booking-status></div>
                  <div><span class="text-black-50 mr-2">PCC:</span> {{currentPnr.PseudoCityCode}}</div>
                  <div><span class="text-black-50 mr-2">Date:</span> {{currentPnr.PnrDate | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</div>
                  <div><span class="text-black-50 mr-2">LastTicket Date:</span> {{currentPnr.LastTicketDate | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</div>
                  <div><span class="text-black-50 mr-2">Cancel Date:</span> {{currentPnr.CancelDate | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</div>

                  <div *ngIf="currentPnr['ConnectorCustomData']">
                    <div>Connector Custom Data:</div>
                    <pre class="border-box bg-light">{{currentPnr['ConnectorCustomData'] | json}}</pre>
                  </div>
                  <div *ngIf="currentPnr['CustomerCustomData']">
                    <div>Customer Custom Data:</div>
                    <pre class="border-box bg-light">{{currentPnr['CustomerCustomData'] | json}}</pre>
                  </div>
                </nb-card-body>
              </nb-card>

              <jupiter-credit-card-payment [creditCardPayment]="currentPnr.CreditCardPayment"></jupiter-credit-card-payment>
              <jupiter-travel-company [travelCompany]="currentPnr.TravelCompany"></jupiter-travel-company>

            </div>
            <div class="col-sm-6">
              <jupiter-pax-list-details [paxes]="currentPnr.Paxes"></jupiter-pax-list-details>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item expanded="false">
        <nb-accordion-item-header class="font-weight-bold">Fare</nb-accordion-item-header>
        <nb-accordion-item-body>

          <div *ngIf="currentPnr.Fare && currentPnr.Fare.PaxFareList">
            <div *ngFor="let fare of currentPnr.Fare.PaxFareList; let paxFareIndex = index;">

              <jupiter-fare-display [paxFareIndex]="paxFareIndex" [fare]="fare" [fareRules]="currentPnr.Fare.FareRules"></jupiter-fare-display>

            </div>

          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item expanded="false">
        <nb-accordion-item-header class="font-weight-bold">Alternative Fares</nb-accordion-item-header>
        <nb-accordion-item-body>

          <div *ngIf="currentPnr.AlternativeFares">
            <div *ngFor="let alternativeFare of currentPnr.AlternativeFares; let alternativeFareIndex = index;">
              <div *ngIf="alternativeFare && alternativeFare.PaxFareList">
                <div *ngFor="let fare of alternativeFare.PaxFareList; let paxFareIndex = index;">

                  <jupiter-fare-display [paxFareIndex]="paxFareIndex" [fare]="fare" [fareRules]="alternativeFare.FareRules"></jupiter-fare-display>

                </div>
              </div>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item expanded="false">
        <nb-accordion-item-header class="font-weight-bold">Remarks</nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="row">
            <div class="col-sm-6">
              <nb-card class="shadow-none">
                <nb-card-header>Remarks and OSI</nb-card-header>
                <nb-card-body>
                  <div class="row">
                    <div *ngFor="let remark of currentPnr.Remarks; let remarkIndex = index;" class="col-md-6">
                      <jupiter-obj-display [Data]="remark" [StyleClass]="'border-box'"></jupiter-obj-display>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-sm-6">
              <nb-card class="shadow-none">
                <nb-card-header>OSI/SSR</nb-card-header>
                <nb-card-body>
                  <div class="row">
                    <div *ngFor="let osi of currentPnr.OsiSsr; let osiIndex = index;" class="col-md-6">
                      <jupiter-obj-display [Data]="osi" [StyleClass]="'border-box'"></jupiter-obj-display>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <div *ngIf="isDebug">
      <nb-card>
        <nb-card-header>
          <span class="h4">Result Json</span>
          <span class="float-right">
                <button class="btn btn-sm btn-warning" (click)="isDebug = false;"><i class="fas fa-times"></i> </button>
            </span>
        </nb-card-header>
        <nb-card-body>
          <ace [mode]="'json'" [theme]="'monokai'" [value]="getJson(currentPnr)" style="height: 650px; width:100%; overflow: scroll;"></ace>
          <!--<pre>{{result | json}}</pre>-->
        </nb-card-body>
      </nb-card>
    </div>

  </nb-card-body>
</nb-card>

