<nb-accordion [nbSpinner]="loading" nbSpinnerStatus="primary" class="mb-2">
  <nb-accordion-item #accordionItemRq expanded="true">
    <nb-accordion-item-header class="font-weight-bold">Hotel Avail RQ
      <jupiter-api-response-status *ngIf="jupiterHotelAvailabilityRs" [status]="jupiterHotelAvailabilityRs.Status"></jupiter-api-response-status>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <form>

        <!-- MAIN INPUT -->
        <div class="row">
          <div class="form-group col-sm-4">
            <!-- TODO Capire come risolvere -> problema sul dateRange continua a dare errori ma funziona è sbagliato come gestisce il dateRagen cercando di fare il clone, basta togliere l'ngmodel e tutto funziona-->
            <div>Dates: <b>{{jupiterHotelAvailabilityRq.Request.FromDate | amDateFormat:'DD/MM/YYYY'}} - {{jupiterHotelAvailabilityRq.Request.ToDate | amDateFormat:'DD/MM/YYYY'}}</b></div>
            <label for="dates" class="label">From Date - To Date Picker</label>
            <!--            <input nbInput #rangePickerInput fullWidth id="dates" name="dates" placeholder="From Date - To Date" [nbDatepicker]="rangePicker" [(ngModel)]="jupiterHotelCalendarAvailabilityRq.Request._DateRange">-->
            <input nbInput #rangePickerInput fullWidth id="dates" name="dates" placeholder="From Date - To Date" [nbDatepicker]="rangePicker">
            <nb-rangepicker #rangePicker format="DD/MM/YYYY" (rangeChange)="handleRangeChange($event)" [min]="jupiterHotelAvailabilityRq.Request['_MinDate']" [(range)]="jupiterHotelAvailabilityRq.Request['_DateRange']"></nb-rangepicker>

            <!--            <label for="fromDate" class="label">From Date</label>-->
            <!--            <input nbInput fullWidth id="fromDate" name="fromDate" placeholder="From Date" [nbDatepicker]="fromDate" [(ngModel)]="jupiterHotelAvailabilityRq.Request._FromDateMoment">-->
            <!--            <nb-datepicker #fromDate format="DD/MM/YYYY" (dateChange)="handleFromDateChange($event)"></nb-datepicker>-->
          </div>
          <!--          <div class="form-group col-sm-3">-->
          <!--            <label for="toDate" class="label">To Date</label>-->
          <!--            <input nbInput fullWidth id="toDate" name="toDate" placeholder="To Date" [nbDatepicker]="toDate" [(ngModel)]="jupiterHotelAvailabilityRq.Request._ToDateMoment">-->
          <!--            <nb-datepicker #toDate format="DD/MM/YYYY" (dateChange)="handleToDateChange($event)"></nb-datepicker>-->
          <!--          </div>-->
          <div class="form-group col-sm-4">
            <label for="connectors" class="label">Search Connectors</label>
            <nb-select #selectConnectors fullWidth id="connectors" placeholder="Search Connectors" [multiple]="true" [outline]="true" (selectedChange)="searchConnectorsChanged($event);selectConnectors.hide();" [(selected)]="jupiterHotelAvailabilityRq.Request.ConnectorsSearchOnly">
              <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
            </nb-select>
            <jupiter-connectors-environment [(ConnectorsEnvironment)]="jupiterHotelAvailabilityRq.ConnectorsEnvironment" [FilterConnectors]="jupiterHotelAvailabilityRq.Request.ConnectorsSearchOnly"></jupiter-connectors-environment>
          </div>
          <div class="form-group col-sm-4">
            <label for="debugConnectors" class="label">Debug Connectors</label>
            <nb-select #selectDebugConnectors fullWidth id="debugConnectors" placeholder="Debug Connectors" [multiple]="true" [outline]="true" (selectedChange)="selectDebugConnectors.hide();" [(selected)]="jupiterHotelAvailabilityRq.Request.ConnectorsDebug">
              <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <label for="PreferredCurrency" class="label">Preferred Currency</label>
            <input nbInput fullWidth id="PreferredCurrency" name="PreferredCurrency" placeholder="Preferred Currency" [(ngModel)]="jupiterHotelAvailabilityRq.Request.PreferredCurrency">
          </div>

          <div class="form-group col-sm-4">
            <label for="PreferredLanguage" class="label">Preferred Language</label>
            <input nbInput fullWidth id="PreferredLanguage" name="PreferredLanguage" placeholder="Preferred Language" [(ngModel)]="jupiterHotelAvailabilityRq.Request.PreferredLanguage">
          </div>
          <div class="form-group col-sm-4">
            <nb-checkbox fullWidth name="ForceNotCachedResponse" [(ngModel)]="jupiterHotelAvailabilityRq.ForceNotCachedResponse">Force Not Cached Response</nb-checkbox>
          </div>
        </div>
        <!-- END MAIN INPUT -->

        <!-- INPUT CUSTOM DATA -->
        <div *ngIf="jupiterHotelAvailabilityRq.Request.ConnectorsSettings && jupiterHotelAvailabilityRq.Request.ConnectorsSettings.length > 0">
          <nb-accordion class="shadow-none border-box">
            <nb-accordion-item *ngFor="let connectorSettings of jupiterHotelAvailabilityRq.Request.ConnectorsSettings; let customDataIndex = index;" [expanded]="true">
              <nb-accordion-item-header>
                <span class="badge badge-pill badge-primary">{{connectorSettings['_discriminator']}}</span><span class="ml-1">Custom Data</span>
                <div class="ml-1">
                  <button nbButton size="tiny" status="danger" (click)="deleteCustomData(customDataIndex)" ngbTooltip="Delete Custom Data" placement="top" container="body"><i class="fas fa-trash"></i></button>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <jupiter-custom-data-inputs [(CustomData)]="jupiterHotelAvailabilityRq.Request.ConnectorsSettings[customDataIndex]"></jupiter-custom-data-inputs>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <!-- END INPUT CUSTOM DATA -->

        <!--        <div *ngIf="jupiterHotelAvailabilityRq.Request.ConnectorsSettings && jupiterHotelAvailabilityRq.Request.ConnectorsSettings.length > 0">-->
        <!--          <h6>Connector Custom Data</h6>-->
        <!--          <div *ngFor="let connectorSettings of jupiterHotelAvailabilityRq.Request.ConnectorsSettings; let i = index;" class="border-box">-->
        <!--            <div class="float-right">-->
        <!--              <button nbButton size="tiny" status="danger" (click)="deleteCustomData(i)" ngbTooltip="Delete Custom Data" placement="top" container="body"><i class="fas fa-trash"></i></button>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--              <div class="form-group col-sm-2">-->
        <!--                <span class="badge badge-pill badge-primary">{{connectorSettings['_discriminator']}}</span>-->
        <!--              </div>-->
        <!--              <div class="form-group col-sm-10">-->
        <!--                <jupiter-custom-data-inputs [(CustomData)]="connectorSettings"></jupiter-custom-data-inputs>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <!-- ROOMS -->
        <h6>Rooms
          <button nbButton size="tiny" (click)="addRoom()" ngbTooltip="Add a Room" placement="top" container="body"><i class="fas fa-plus"></i></button>
        </h6>
        <div *ngFor="let room of jupiterHotelAvailabilityRq.Request.Rooms; let i = index;" class="border-box">
          <div class="float-right">
            <button *ngIf="i > 0" nbButton size="tiny" status="danger" (click)="removeRoom(i)" ngbTooltip="Delete this Room" placement="top" container="body"><i class="fas fa-trash"></i></button>
          </div>
          <div>Room {{i}} Paxes
            <button nbButton size="tiny" (click)="addPax(room)" ngbTooltip="Add a Pax" placement="top" container="body"><i class="fas fa-plus"></i></button>
          </div>

          <div class="row m-1">
            <div *ngFor="let pax of room.Paxes; let paxIndex = index;" class="col-md-4 border-box">
              <div class="float-right">
                <button *ngIf="paxIndex > 0" nbButton size="tiny" status="danger" (click)="removePax(room, paxIndex)" ngbTooltip="Delete this Pax" placement="top" container="body"><i class="fas fa-trash"></i></button>
              </div>
              <div>
                <label for="paxType{{i}}{{paxIndex}}" class="label">Pax Type</label>
                <nb-select fullWidth id="paxType{{i}}{{paxIndex}}" placeholder="Pax Type" [multiple]="false" [outline]="true" [(selected)]="pax.Type">
                  <nb-option *ngFor="let paxType of EPaxTypeList" [value]="paxType">{{paxType}}</nb-option>
                </nb-select>
              </div>
              <div *ngIf="pax.Type === EPaxType.INFANT || pax.Type === EPaxType.CHILD">
                <label for="paxAge{{i}}{{paxIndex}}" class="label">Pax Age</label>
                <input nbInput fullWidth id="paxAge{{i}}{{paxIndex}}" name="paxAge{{i}}{{paxIndex}}" placeholder="Pax Age" [(ngModel)]="pax.Age">
              </div>
            </div>
          </div>

          <!-- ROOM CUSTOM DATA -->
          <div>Room Custom Data</div>
          <hr>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="room{{i}}ConnectorCode" class="label">Connector Custom Data</label>
              <nb-select fullWidth id="room{{i}}ConnectorCode" placeholder="Connector" [multiple]="false" [outline]="true" (selectedChange)="roomConnectorCustomDataConnectorCodeChanged($event, room)" [(selected)]="room['_ConnectorCustomDataConnectorCode']">
                <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
              </nb-select>
            </div>
            <div class="col-sm-6">
              <div *ngIf="room.ConnectorCustomData">
                <jupiter-custom-data-inputs [(CustomData)]="room.ConnectorCustomData"></jupiter-custom-data-inputs>
              </div>
            </div>
          </div>

          <!-- TODO LIST OF CUSTOM DATA ON ROOMS -->
          <!--          <div *ngIf="room.ConnectorCustomData">-->
          <!--            <nb-accordion class="shadow-none border-box">-->
          <!--              <nb-accordion-item *ngFor="let connectorSettings of step.ConnectorCustomData; let stepCustomDataIndex = index;">-->
          <!--                <nb-accordion-item-header>-->
          <!--                  <span class="badge badge-pill badge-primary">{{connectorSettings['_discriminator']}}</span><span class="ml-1">Custom Data</span>-->
          <!--                  <div class="ml-1">-->
          <!--                    <button nbButton size="tiny" status="danger" (click)="deleteStepCustomData(stepCustomDataIndex, step)" ngbTooltip="Delete Custom Data" placement="top" container="body"><i class="fas fa-trash"></i></button>-->
          <!--                  </div>-->
          <!--                </nb-accordion-item-header>-->
          <!--                <nb-accordion-item-body>-->
          <!--                  <jupiter-custom-data-inputs [(CustomData)]="connectorSettings"></jupiter-custom-data-inputs>-->
          <!--                </nb-accordion-item-body>-->
          <!--              </nb-accordion-item>-->
          <!--            </nb-accordion>-->
          <!--          </div>-->

          <!-- END ROOM CUSTOM DATA -->

        </div>
        <!-- END ROOMS -->

      </form>

      <div class="row">
        <div class="col-sm-12 text-center">
          <hr>
          <button nbButton size="small" (click)="searchHotelsAvailability()"><i class="fas fa-exchange-alt"></i>&nbsp;Search</button>
        </div>
      </div>

    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<jupiter-api-messages-accordion Title="Hotel Avail" [ApiRs]="jupiterHotelAvailabilityRs"></jupiter-api-messages-accordion>
<jupiter-api-debug-accordion Title="Hotel Avail" [(ApiRq)]="jupiterHotelAvailabilityRq" [ApiRs]="jupiterHotelAvailabilityRs"></jupiter-api-debug-accordion>

<div class="mt-4" *ngIf="jupiterHotelAvailabilityRs && jupiterHotelAvailabilityRs.Response && jupiterHotelAvailabilityRs.Response.Hotels">
  <div class="row">
    <!--    <div class="col-md-3">-->
    <!--      <nb-card size="medium">-->
    <!--        <nb-card-header>-->
    <!--          <div>Results Filtering ({{jupiterHotelAvailabilityRs.Response.Hotels.length}} Hotels)</div>-->
    <!--        </nb-card-header>-->
    <!--        <nb-list>-->
    <!--&lt;!&ndash;          <nb-list-item>Friends</nb-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;          <nb-list-item>Images</nb-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;          <nb-list-item>Groups</nb-list-item>&ndash;&gt;-->
    <!--        </nb-list>-->
    <!--      </nb-card>-->
    <!--    </div>-->
    <!--    <div class="col-md-9">-->
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <nb-checkbox class="float-right" [(ngModel)]="showPricePerDay">Show price per day</nb-checkbox>
          <h6>Results: {{jupiterHotelAvailabilityRs.Response.Hotels.length}} Hotels</h6>
        </nb-card-body>
      </nb-card>
      <!--      <virtual-scroll [items]="jupiterHotelAvailabilityRs.Response.Hotels" (update)="viewPortItems = $event" style="height: 700px">-->
      <!--        <nb-card *ngFor="let hotel of viewPortItems; let hotelIndex = index;">-->

      <div *ngFor="let hotel of jupiterHotelAvailabilityRs.Response.Hotels; let hotelIndex = index;">

        <nb-card>
          <nb-card-header>
            {{hotel.Name}} <span class="pt-1 pl-1 cursor-pointer" (click)="hotel['_Debug'] = !hotel['_Debug'];"><i class="fas fa-bug font-size-small text-black-50"></i></span>

            <div *ngIf="hotel.Rooms && hotel.Rooms[0].Rates && hotel.Rooms[0].Rates[0].Total" class="float-right">
              <span class="mr-1 text-secondary">from</span>
              <span class="mr-1 font-weight-bold h5" *ngIf="showPricePerDay">{{(hotel.Rooms[0].Rates[0].Total.Amount / daysCount | number)}}/day</span>
              <span class="mr-1 font-weight-bold h5" *ngIf="!showPricePerDay">{{hotel.Rooms[0].Rates[0].Total.Amount | number}}</span>
              <span>{{hotel.Rooms[0].Rates[0].Total.Currency}}</span>
            </div>

          </nb-card-header>
          <nb-card-body>
            <!-- HOTEL DETAILS -->
            <jupiter-single-hotel-details [hotel]="hotel" [openDetails]="false"></jupiter-single-hotel-details>

            <!-- ACTIONS-->
            <nb-accordion class="shadow-none border-box p-0">
              <nb-accordion-item [expanded]="true">
                <nb-accordion-item-header>Connectors Actions</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <div *ngFor="let match of hotel.ConnectorsMatch">
                    <span class="badge badge-info text-white p-2 m-1">{{match.ConnectorCode}} {{match.RefId}}</span>
                    <button nbButton size="tiny" class="ml-1" (click)="goToSingleHotelAvail(hotel, match.ConnectorCode)"><i class="fas fa-search"></i> &nbsp;Single Avail</button>
                    <button nbButton size="tiny" class="ml-1" (click)="goToHotelDetail(hotel, match.ConnectorCode)"><i class="fas fa-search"></i> &nbsp;Hotel Details</button>
                  </div>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <!-- ROOMS -->
            <jupiter-hotel-rooms-avail [rooms]="hotel.Rooms" [daysCount]="daysCount" [showPricePerDay]="showPricePerDay" (ratePriceVerify)="goToHotelPriceVerify(hotel, $event)"></jupiter-hotel-rooms-avail>

          </nb-card-body>
        </nb-card>

      </div>

      <!--      </virtual-scroll>-->

    </div>
  </div>
</div>
