<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header *ngIf="showHeader">Amadeus Cryptic</nb-card-header>
  <nb-card-body>
    <div class="row" style="height: 500px">
      <div class="col-sm-12">
        <nb-card class="cryptic-terminal">
          <nb-card-body>
            <pre>{{crypticResponse}}</pre>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-sm-6">
        <form [formGroup]="crypticForm" (ngSubmit)="sendCryptic()">
          <div class="form-group">

            <div class="input-group mb-3">
              <input #sendCrypticInput
                     nbInput autofocus
                     formControlName="Command" type="text" class="form-control" placeholder="Command"
                     style="text-transform: uppercase;"
                     [formControl]="crypticForm.controls.Command"
                     [status]="crypticForm.controls.Command.dirty && crypticForm.controls.Command.invalid ? 'danger' : ''">

              <div class="input-group-append">
                <button type="submit" id="sendcryptic" class="btn btn-sm btn-primary" [disabled]="crypticForm.invalid"><i class="fas fa-exchange-alt"></i> Send</button>
              </div>
              <!--<jupiter-form-input-error [control]="crypticForm.controls.Command"></jupiter-form-input-error>-->
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2">
        <button id="retrieve" class="btn btn-sm btn-primary" [disabled]="!crypticSession" (click)="retrieveFromSession()"><i class="fas fa-exchange-alt"></i> Retrieve From Session</button>
      </div>
      <div class="col-sm-4">
        <jupiter-connectors-environment [(ConnectorsEnvironment)]="connectorsEnvironment" [FilterConnectors]="[EH2HConnectorCode.AMADEUS]" (ConnectorsEnvironmentChange)="changeConnectorsEnvironment()"></jupiter-connectors-environment>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- FLIGHT AVAIL MESSAGES/DEBUG -->
<div>
  <jupiter-api-messages-accordion Title="Cryptic" [ApiRs]="jupiterCrypticRs"></jupiter-api-messages-accordion>
  <jupiter-api-debug-accordion Title="Cryptic" [(ApiRq)]="jupiterCrypticRq" [ApiRs]="jupiterCrypticRs"></jupiter-api-debug-accordion>
</div>
<!-- END FLIGHT AVAIL MESSAGES/DEBUG -->

<div *ngIf="jupiterFlightPnrRetrieveRq">
  <jupiter-flight-pnr-retrieve [jupiterFlightPnrRetrieveRq]="jupiterFlightPnrRetrieveRq"></jupiter-flight-pnr-retrieve>
</div>
