<div [nbSpinner]="loading" nbSpinnerStatus="primary">
  <!-- FLIGHT AVAIL RQ -->
  <nb-accordion class="mb-2">
    <nb-accordion-item #accordionItemRq expanded="true">
      <nb-accordion-item-header class="font-weight-bold">Flight Avail Rq</nb-accordion-item-header>
      <nb-accordion-item-body>

        <form *ngIf="jupiterFlightAvailabilityRq.Request">
          <!-- MAIN INPUT -->
          <div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="adultCount" class="label">Adult Count</label>
                <nb-select fullWidth id="adultCount" placeholder="Adult Count" [outline]="true" [(selected)]="jupiterFlightAvailabilityRq.Request.AdultCount">
                  <nb-option [value]="1">1</nb-option>
                  <nb-option [value]="2">2</nb-option>
                  <nb-option [value]="3">3</nb-option>
                  <nb-option [value]="4">4</nb-option>
                </nb-select>
              </div>
              <div class="form-group col-sm-4">
                <label for="childCount" class="label">Child Count</label>
                <nb-select fullWidth id="childCount" placeholder="Child Count" [outline]="true" [(selected)]="jupiterFlightAvailabilityRq.Request.ChildCount">
                  <nb-option [value]="-1">-1</nb-option>
                  <nb-option [value]="0">0</nb-option>
                  <nb-option [value]="1">1</nb-option>
                  <nb-option [value]="2">2</nb-option>
                  <nb-option [value]="3">3</nb-option>
                  <nb-option [value]="4">4</nb-option>
                </nb-select>
              </div>
              <div class="form-group col-sm-4">
                <label for="infantCount" class="label">Infant Count</label>
                <nb-select fullWidth id="infantCount" placeholder="Infant Count" [outline]="true" [(selected)]="jupiterFlightAvailabilityRq.Request.InfantCount">
                  <nb-option [value]="0">0</nb-option>
                  <nb-option [value]="1">1</nb-option>
                  <nb-option [value]="2">2</nb-option>
                  <nb-option [value]="3">3</nb-option>
                  <nb-option [value]="4">4</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">

              <div class="form-group col-sm-4">
                <label for="connectors" class="label">Search Connectors</label>
                <nb-select #selectConnectors fullWidth id="connectors" placeholder="Search Connectors" [multiple]="true" [outline]="true" (selectedChange)="searchConnectorsChanged($event);selectConnectors.hide();"  [(selected)]="jupiterFlightAvailabilityRq.Request.ConnectorsSearch">
                  <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
                </nb-select>
                <jupiter-connectors-environment [(ConnectorsEnvironment)]="jupiterFlightAvailabilityRq.ConnectorsEnvironment" [FilterConnectors]="jupiterFlightAvailabilityRq.Request.ConnectorsSearch"></jupiter-connectors-environment>
              </div>

              <div class="form-group col-sm-4">
                <label for="debugConnectors" class="label">Debug Connectors</label>
                <nb-select #selectDebugConnectors fullWidth id="debugConnectors" placeholder="Debug Connectors" [multiple]="true" [outline]="true" (selectedChange)="selectDebugConnectors.hide();" [(selected)]="jupiterFlightAvailabilityRq.Request.ConnectorsDebug">
                  <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
                </nb-select>
              </div>

              <div class="form-group col-sm-4">
                <div>
                  <nb-checkbox fullWidth name="MergeConnectorResults" [(ngModel)]="jupiterFlightAvailabilityRq.Request.MergeConnectorResults">Merge Connector Results</nb-checkbox>
                </div>
                <div>
                  <nb-checkbox fullWidth name="ForceNotCachedResponse" [(ngModel)]="jupiterFlightAvailabilityRq.ForceNotCachedResponse">Force NotCached Response</nb-checkbox>
                </div>
              </div>

            </div>
          </div>
          <!-- END MAIN INPUT -->

          <!-- INPUT CUSTOM DATA -->
          <div *ngIf="jupiterFlightAvailabilityRq.Request.ConnectorCustomData && jupiterFlightAvailabilityRq.Request.ConnectorCustomData.length > 0">
            <nb-accordion class="shadow-none border-box">
              <nb-accordion-item *ngFor="let connectorSettings of jupiterFlightAvailabilityRq.Request.ConnectorCustomData; let customDataIndex = index;">
                <nb-accordion-item-header>
                  <span class="badge badge-pill badge-primary">{{connectorSettings['_discriminator']}}</span><span class="ml-1">Custom Data</span>
                  <div class="ml-1">
                    <button nbButton size="tiny" status="danger" (click)="deleteCustomData(customDataIndex)" ngbTooltip="Delete Custom Data" placement="top" container="body"><i class="fas fa-trash"></i></button>
                  </div>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <jupiter-custom-data-inputs [(CustomData)]="jupiterFlightAvailabilityRq.Request.ConnectorCustomData[customDataIndex]"></jupiter-custom-data-inputs>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
          <!-- END INPUT CUSTOM DATA -->

          <!-- STEP LIST -->
          <h6>Flight Steps <button nbButton size="tiny" (click)="addStep()" ngbTooltip="Add a Step" placement="top" container="body"><i class="fas fa-plus"></i></button></h6>
          <div *ngIf="jupiterFlightAvailabilityRq.Request.FlightSteps">
            <div *ngFor="let step of jupiterFlightAvailabilityRq.Request.FlightSteps; let stepIndex = index;" class="border-box">
              <div class="float-right">
                <button *ngIf="stepIndex > 0" nbButton size="tiny" status="danger" (click)="deleteStep(stepIndex)" ngbTooltip="Delete this Room" placement="top" container="body"><i class="fas fa-trash"></i></button>
              </div>

              <!-- STEP REQUEST -->
              <div>
                <div class="row">
                  <div class="form-group col-sm-3">
                    <!--                <div>Date: <b>{{step.DepartureDate | amDateFormat:'DD/MM/YYYY'}}</b></div>-->
                    <label class="label">Departure Date</label>
                    <input nbInput id="DepartureDate{{stepIndex+1}}" name="DepartureDate{{stepIndex+1}}" fullWidth [nbDatepicker]="depDate" [(ngModel)]="step['_DepartureDateMoment']">
                    <nb-datepicker #depDate format="DD/MM/YYYY" (dateChange)="handleDateChange($event, step)"></nb-datepicker>
                  </div>
                  <div class="form-group col-sm-3">
                    <label for="DepartureApt{{stepIndex+1}}" class="label">Departure Airport</label>
                    <input nbInput fullWidth id="DepartureApt{{stepIndex+1}}" name="DepartureApt{{stepIndex+1}}" placeholder="Departure IATA" class="iata-input" (ngModelChange)="setDepartureAirport($event, step)" [ngModel]="step.DepartureAirport">
                  </div>
                  <div class="form-group col-sm-3">
                    <label for="ArrivalApt{{stepIndex+1}}" class="label">Arrival Airport</label>
                    <input nbInput fullWidth id="ArrivalApt{{stepIndex+1}}" name="ArrivalApt{{stepIndex+1}}" placeholder="Arrival IATA" class="iata-input" (ngModelChange)="setArrivalAirport($event, step)" [ngModel]="step.ArrivalAirport">
                  </div>
                  <div class="form-group col-sm-3">
                    <label for="Cabin{{stepIndex+1}}" class="label">Cabin</label>
                    <nb-select fullWidth id="Cabin{{stepIndex+1}}" placeholder="Cabin" [outline]="true" [(selected)]="step.Cabin">
                      <nb-option *ngFor="let cabin of EFlightCabinList" [value]="cabin">{{cabin}}</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <nb-checkbox fullWidth name="OnlyDirectFlights{{stepIndex+1}}" [(ngModel)]="step.OnlyDirectFlights">Only Directs</nb-checkbox>
                    <nb-checkbox fullWidth name="BaggageIncluded{{stepIndex+1}}" [(ngModel)]="step.BaggageIncluded">Baggage</nb-checkbox>
                    <nb-checkbox fullWidth name="EnableJumpCabin{{stepIndex+1}}" [(ngModel)]="step.EnableJumpCabin">Jump Cabin</nb-checkbox>
                  </div>
                  <div class="col-sm-3">
                    <label for="DepartureTime{{stepIndex+1}}" class="label">Departure Time (hh:mm)</label>
                    <input nbInput fullWidth id="DepartureTime{{stepIndex+1}}" name="DepartureTime{{stepIndex+1}}" placeholder="Departure Time" class="iata-input" [(ngModel)]="step.DepartureTime">
                    <label for="DepartureTimeWindow{{stepIndex+1}}" class="label">Departure TimeWindow (Number)</label>
                    <input nbInput fullWidth id="DepartureTimeWindow{{stepIndex+1}}" name="DepartureTimeWindow{{stepIndex+1}}" placeholder="Departure TimeWindow" class="iata-input" [(ngModel)]="step.DepartureTimeWindow">
                  </div>
                  <div class="col-sm-3">
                    <label for="ExcludedCarriers{{stepIndex+1}}" class="label">Excluded Carriers</label>
                    <tag-input fullWidth id="ExcludedCarriers{{stepIndex+1}}" name="ExcludedCarriers{{stepIndex+1}}" placeholder="ExcludedCarriers" (onAdd)="utils.addTagInputValue($event, step.ExcludedCarriers)" [(ngModel)]="step.ExcludedCarriers" ></tag-input>
                  </div>
                  <div class="col-sm-3">
                    <label for="IncludedCarriers{{stepIndex+1}}" class="label">Included Carriers</label>
                    <tag-input fullWidth id="IncludedCarriers{{stepIndex+1}}" name="IncludedCarriers{{stepIndex+1}}" placeholder="IncludedCarriers" (onAdd)="utils.addTagInputValue($event, step.IncludedCarriers)" [(ngModel)]="step.IncludedCarriers" ></tag-input>
                  </div>
                </div>
              </div>

              <!-- STEP CUSTOM DATA -->
              <div>

                <hr>
                <div>Step Custom Data</div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="step{{stepIndex}}ConnectorCode" class="label">Connector Custom Data</label>
                    <nb-select fullWidth id="step{{stepIndex}}ConnectorCode" placeholder="Connectors" [multiple]="true" [outline]="true" (selectedChange)="stepConnectorCustomDataConnectorCodeChanged($event, step)" [(selected)]="step['_ConnectorCustomDataConnectors']">
                      <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
                    </nb-select>
                  </div>
                </div>

                <!-- CUSTOM DATA LIST -->
                <div *ngIf="step.ConnectorCustomData && step.ConnectorCustomData.length > 0">
                  <nb-accordion class="shadow-none border-box">
                    <nb-accordion-item *ngFor="let connectorSettings of step.ConnectorCustomData; let stepCustomDataIndex = index;">
                      <nb-accordion-item-header>
                        <span class="badge badge-pill badge-primary">{{connectorSettings['_discriminator']}}</span><span class="ml-1">Custom Data</span>
                        <div class="ml-1">
                          <button nbButton size="tiny" status="danger" (click)="deleteStepCustomData(stepCustomDataIndex, step)" ngbTooltip="Delete Custom Data" placement="top" container="body"><i class="fas fa-trash"></i></button>
                        </div>
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <jupiter-custom-data-inputs [(CustomData)]="step.ConnectorCustomData[stepCustomDataIndex]"></jupiter-custom-data-inputs>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>
                </div>
                <!-- END CUSTOM DATA LIST -->

              </div>
              <!-- END STEP CUSTOM DATA -->

            </div>
          </div>
          <!-- END STEP LIST -->

        </form>

        <!-- SEARCH BTN -->
        <div class="row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-sm btn-primary" (click)="searchFlights()"><i class="fas fa-exchange-alt"></i> Search</button>
          </div>
        </div>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <!-- END FLIGHT AVAIL RQ -->

  <!-- FLIGHT AVAIL MESSAGES/DEBUG -->
  <div>
    <jupiter-api-messages-accordion Title="Flight Avail" [ApiRs]="jupiterFlightAvailabilityRs"></jupiter-api-messages-accordion>
    <jupiter-api-debug-accordion Title="Flight Avail" [(ApiRq)]="jupiterFlightAvailabilityRq" [ApiRs]="jupiterFlightAvailabilityRs"></jupiter-api-debug-accordion>
  </div>
  <!-- END FLIGHT AVAIL MESSAGES/DEBUG -->

  <!-- SELECTED RESULT -->
  <div *ngIf="selectedResult">
    <nb-card>
      <nb-card-header>
        <span>Selected Result</span>
        <span class="float-right">
          <button class="btn btn-sm btn-warning" (click)="resetSelected()"><i class="fas fa-times"></i> </button>
        </span>
      </nb-card-header>
      <nb-card-body>
        <div class="container" *ngFor="let fare of selectedResult.FareList; let fareIndex = index;">
          <div *ngIf="fareIndex > 0"> <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1);"> </div>
          <div class="row align-items-center">
            <div class="col-sm-9 pr-0">
              <div *ngFor="let segment of selectedResult.FlightSegments; let segIndex = index;" class="container p-0">
                <jupiter-segment-display [segment]="segment" [segIndex]="segIndex" [lastStepGroupId]="segIndex > 0 ? selectedResult.FlightSegments[segIndex-1].StepGroupId : '0'" [paxFares]="fare.PaxFareList"></jupiter-segment-display>
              </div>
            </div>
            <div class="col-sm-3 pl-0">
              <div class="text-right">
                <div>
                  <span class="font-weight-bold h5">{{fare.Amount.Amount}}</span>
                  <span>{{fare.Amount.Currency}}</span>
                </div>
                <div *ngIf="fare.FeeList && fare.FeeList.length > 0">
                  <span class="text-warning font-weight-bold cursor-pointer" [ngbPopover]="feesTemplate" placement="left" container="body" popoverTitle="Fee List" triggers="mouseenter:mouseleave">Included Fees <i class="fas fa-info-circle"></i></span>

                  <ng-template #feesTemplate>
                    <div *ngFor="let fee of fare.FeeList">
                      <div class="font-weight-bold">{{fee.Code}} - {{fee.Name}}</div>
                      <div>{{fee.Amount}} {{fee.Currency}}</div>
                      <hr>
                    </div>
                  </ng-template>

                </div>
              </div>

              <div [ngSwitch]="fare.ConnectorCode" class="text-right">
                <span class="badge badge-pill badge-secondary text-white p-1 m-1">{{fare.Id}}</span>
                <span *ngSwitchCase="'AMADEUS'" class="badge amadeus-color text-white p-2 m-1">{{fare.ConnectorCode}}</span>
                <span *ngSwitchCase="'SABRE'" class="badge sabre-color text-white p-2 m-1">{{fare.ConnectorCode}}</span>
                <span *ngSwitchDefault class="badge bg-info text-white p-2 m-1">{{fare.ConnectorCode}}</span>

                <span class="mr-2"><i class="fas fa-bug" (click)="selectedResult['_Debug'] = !selectedResult['_Debug'];"></i></span>
                <span class="mr-2"><i class="fas fa-chevron-down" (click)="selectedResult['_Expand'] = !selectedResult['_Expand'];"></i></span>
              </div>

              <div class="text-right">
                <button class="btn btn-sm btn-primary" (click)="flightDetails(selectedResult,fare,false)"><i class="fas fa-search"></i> Details</button>
                <!-- If Amadeus provide a FareInformativeBestPrice Details -->
                <button *ngIf="fare.ConnectorCode === 'AMADEUS'" class="btn btn-sm btn-primary m-1" (click)="flightDetails(selectedResult,fare,true)"><i class="fas fa-search"></i> Details Best Price</button>
              </div>

              <!--<div>{{result.ResultKey}}</div>-->
            </div>
          </div>
        </div>

        <div *ngIf="selectedResult['_Expand']">
          <nb-card>
            <nb-card-header>
              <span class="h4">Fare Details</span>
              <span class="float-right">
                      <button class="btn btn-sm btn-warning" (click)="selectedResult['_Expand'] = !selectedResult['_Expand'];"><i class="fas fa-times"></i> </button>
                    </span>
            </nb-card-header>
            <nb-card-body>
              <div class="container" *ngFor="let fare of selectedResult.FareList; let fareIndex = index;">
                <div *ngFor="let fare of fare.PaxFareList; let paxFareIndex = index;">
                  <jupiter-fare-display [paxFareIndex]="paxFareIndex" [fare]="fare"></jupiter-fare-display>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div *ngIf="selectedResult['_Debug']">
          <nb-card>
            <nb-card-header>
              <span class="h4">Result Json</span>
              <span class="float-right">
                  <button class="btn btn-sm btn-warning" (click)="selectedResult['_Debug'] = !selectedResult['_Debug'];"><i class="fas fa-times"></i> </button>
              </span>
            </nb-card-header>
            <nb-card-body>
              <ace [mode]="'json'" [theme]="'monokai'" [value]="selectedResult | json" style="height: 650px; width:100%; overflow: scroll;"></ace>
              <!--<pre>{{result | json}}</pre>-->
            </nb-card-body>
          </nb-card>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- END SELECTED RESULT -->

  <!-- FLIGHT AVAIL RESPONSE -->
  <div *ngIf="jupiterFlightAvailabilityRs && jupiterFlightAvailabilityRs.Response && jupiterFlightAvailabilityRs.Response.FlightResults && !selectedResult">
    <div class="row">
      <div *ngIf="showFilters" class="col-sm-2 pr-0">
        <nb-card>
          <nb-card-header>
            Filters
            <div class="float-right">
              <button class="btn btn-sm btn-warning" (click)="showFilters = !showFilters;"><i class="fas fa-times"></i> </button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div>
              <button class="btn btn-sm btn-primary center m-1 float-left" (click)="showFilters = !showFilters;"><i class="fas fa-list"></i> Hide Filters</button>
              <span class="float-right">Results: {{jupiterFlightAvailabilityRs.Response.FlightResults.length}} Flights</span>
            </div>

          </nb-card-body>
        </nb-card>
      </div>
      <div [class.col-sm-10]="showFilters" [class.col-sm-12]="!showFilters">
        <nb-card *ngIf="!showFilters" class="mb-2">
          <nb-card-body>
            <button class="btn btn-sm btn-primary center m-1 float-left" (click)="showFilters = !showFilters;"><i class="fas fa-list"></i> Show Filters</button>
            <h6 class="float-right">Results: {{jupiterFlightAvailabilityRs.Response.FlightResults.length}} Flights</h6>
          </nb-card-body>
        </nb-card>
        <virtual-scroll [items]="jupiterFlightAvailabilityRs.Response.FlightResults" (update)="viewPortItems = $event" style="height: 700px">
          <nb-card *ngFor="let result of viewPortItems; let resIndex = index;" class="mb-2">
            <nb-card-body class="m-0 p-0 pt-1 pb-1">
              <div class="container" *ngFor="let fare of result.FareList; let fareIndex = index;">
                <div *ngIf="fareIndex > 0"> <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1);"> </div>
                <div class="row align-items-center">
                  <div class="col-sm-9 pr-0">
                    <div *ngFor="let segment of result.FlightSegments; let segIndex = index;" class="container p-0">
                      <jupiter-segment-display [segment]="segment" [segIndex]="segIndex" [lastStepGroupId]="segIndex > 0 ? result.FlightSegments[segIndex-1].StepGroupId : '0'" [paxFares]="fare.PaxFareList"></jupiter-segment-display>
                    </div>
                  </div>
                  <div class="col-sm-3 pl-0">
                    <div class="text-right">
                      <div>
                        <span class="font-weight-bold h5">{{fare.Amount.Amount}}</span>
                        <span>{{fare.Amount.Currency}}</span>
                      </div>
                      <div *ngIf="fare.FeeList && fare.FeeList.length > 0">
                        <span class="text-warning font-weight-bold cursor-pointer" [ngbPopover]="feesTemplate" placement="left" container="body" popoverTitle="Fee List" triggers="mouseenter:mouseleave">Included Fees <i class="fas fa-info-circle"></i></span>

                        <ng-template #feesTemplate>
                          <div *ngFor="let fee of fare.FeeList">
                            <div class="font-weight-bold">{{fee.Code}} - {{fee.Name}}</div>
                            <div>{{fee.Amount}} {{fee.Currency}}</div>
                            <hr>
                          </div>
                        </ng-template>

                      </div>
                    </div>

                   <div [ngSwitch]="fare.ConnectorCode" class="text-right">
                      <span class="badge badge-pill badge-secondary text-white p-1 m-1">{{fare.Id}}</span>
                      <span *ngSwitchCase="'AMADEUS'" class="badge amadeus-color text-white p-2 m-1">{{fare.ConnectorCode}}</span>
                      <span *ngSwitchCase="'SABRE'" class="badge sabre-color text-white p-2 m-1">{{fare.ConnectorCode}}</span>
                      <span *ngSwitchDefault class="badge bg-info text-white p-2 m-1">{{fare.ConnectorCode}}</span>

                        <span class="mr-2"><i class="fas fa-bug" (click)="result['_Debug'] = !result['_Debug'];"></i></span>
                        <span class="mr-2"><i class="fas fa-chevron-down" (click)="result['_Expand'] = !result['_Expand'];"></i></span>
                    </div>

                    <div class="text-right">
                      <button class="btn btn-sm btn-primary" (click)="flightDetails(result,fare,false)"><i class="fas fa-search"></i> Details</button>
                      <!-- If Amadeus provide a FareInformativeBestPrice Details -->
                      <button *ngIf="fare.ConnectorCode === 'AMADEUS'" class="btn btn-sm btn-primary m-1" (click)="flightDetails(result,fare,true)"><i class="fas fa-search"></i> Details Best Price</button>
                    </div>

                    <!--<div>{{result.ResultKey}}</div>-->
                  </div>
                </div>
              </div>

              <div *ngIf="result['_Expand']">
                <nb-card>
                  <nb-card-header>
                    <span class="h4">Fare Details</span>
                    <span class="float-right">
                      <button class="btn btn-sm btn-warning" (click)="result['_Expand'] = !result['_Expand'];"><i class="fas fa-times"></i> </button>
                    </span>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="container" *ngFor="let fare of result.FareList; let fareIndex = index;">
                      <div *ngFor="let fare of fare.PaxFareList; let paxFareIndex = index;">
                        <jupiter-fare-display [paxFareIndex]="paxFareIndex" [fare]="fare"></jupiter-fare-display>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div *ngIf="result['_Debug']">
                <nb-card>
                  <nb-card-header>
                    <span class="h4">Result Json</span>
                    <span class="float-right">
                  <button class="btn btn-sm btn-warning" (click)="result['_Debug'] = !result['_Debug'];"><i class="fas fa-times"></i> </button>
              </span>
                  </nb-card-header>
                  <nb-card-body>
                    <ace [mode]="'json'" [theme]="'monokai'" [value]="result | json" style="height: 650px; width:100%; overflow: scroll;"></ace>
                    <!--<pre>{{result | json}}</pre>-->
                  </nb-card-body>
                </nb-card>
              </div>
            </nb-card-body>
          </nb-card>
        </virtual-scroll>
      </div>
    </div>
  </div>
  <!-- END FLIGHT AVAIL RESPONSE -->

  <!-- FLIGHT DETAILS MESSAGES/DEBUG -->
  <div *ngIf="jupiterFlightDetailRq">
    <jupiter-api-messages-accordion Title="Flight Detail" [ApiRs]="jupiterFlightDetailRs"></jupiter-api-messages-accordion>
    <jupiter-api-debug-accordion Title="Flight Detail" [(ApiRq)]="jupiterFlightDetailRq" [ApiRs]="jupiterFlightDetailRs"></jupiter-api-debug-accordion>
  </div>
  <!-- END FLIGHT DETAILS MESSAGES/DEBUG -->

  <!-- FLIGHT DETAILS RESPONSE -->
  <div *ngIf="jupiterFlightDetailRs && jupiterFlightDetailRs.Response && jupiterFlightDetailRs.Response.Pnr">
    <div class="row m-1">
      <div class="col-md-12 text-center">
        <button class="btn btn-sm btn-primary center m-1" (click)="flightBook(false)"><i class="fas fa-passport"></i> Book Flights NOPNR</button>
        <button class="btn btn-sm btn-primary center m-1" (click)="flightBook(true)"><i class="fas fa-passport"></i> Book Flights AND CLOSE PNR</button>
      </div>
    </div>
    <jupiter-flight-pnr-display [title]="'Flight Details'" [currentPnr]="jupiterFlightDetailRs.Response.Pnr" class="border-danger"></jupiter-flight-pnr-display>
  </div>
  <!-- END FLIGHT DETAILS RESPONSE -->

  <!-- FLIGHT BOOK MESSAGES/DEBUG -->
  <div *ngIf="jupiterFlightBookRq">
    <jupiter-api-messages-accordion Title="Flight Book" [ApiRs]="jupiterFlightBookRs"></jupiter-api-messages-accordion>
    <jupiter-api-debug-accordion Title="Flight Book" [(ApiRq)]="jupiterFlightBookRq" [ApiRs]="jupiterFlightBookRs"></jupiter-api-debug-accordion>
  </div>
  <!-- END FLIGHT BOOK MESSAGES/DEBUG -->

  <!-- FLIGHT BOOK RESPONSE -->
  <div *ngIf="jupiterFlightBookRs && jupiterFlightBookRs.Response && jupiterFlightBookRs.Response.Pnr">
    <div *ngIf="jupiterFlightBookRs.Response.Pnr.PnrNumber" class="row m-1">
      <div class="col-md-12 text-center">
        <button class="btn btn-sm btn-primary center m-1" (click)="retrievePnr()"><i class="fas fa-passport"></i> Retrieve PNR {{jupiterFlightBookRs.Response.Pnr.PnrNumber}}</button>
      </div>
    </div>
    <jupiter-flight-pnr-display [title]="'Flight Book'" [currentPnr]="jupiterFlightBookRs.Response.Pnr" class="border-danger"></jupiter-flight-pnr-display>
  </div>
  <!-- END FLIGHT BOOK RESPONSE -->

  <!-- FLIGHT PNR RETRIEVE -->
  <div *ngIf="jupiterFlightPnrRetrieveRq">
    <jupiter-flight-pnr-retrieve [jupiterFlightPnrRetrieveRq]="jupiterFlightPnrRetrieveRq"></jupiter-flight-pnr-retrieve>
  </div>
  <!-- END FLIGHT PNR RETRIEVE -->

</div>

