<div class="row">
  <div class="col-sm">
<!--    <span>-->
<!--      <strong>Dashboard:</strong><span class="ml-1 text-primary">{{ appConfigService.config.dashboardVersion }}</span>-->
<!--    </span>-->
    <span class="ml-3">
      <strong>Software Version:</strong><span class="ml-1 text-primary"><a target="_blank" href="https://dev.azure.com/tech0229/Jupiter-Core/_packaging?_a=package&feed=Jupiter-Core&package=Jupiter.BaseJupiterAPI&version={{appConfigService.jupiterRemoteAppSettings?.NugetPackageVersion}}&protocolType=NuGet">{{appConfigService.jupiterRemoteAppSettings?.NugetPackageVersion}}</a></span>
    </span>
  </div>
  <div class="col-sm">
    <span class="float-right">Powered by <a target="_blank" href="http://www.linkswiss.com">LinkSwiss ICT Solutions Sagl</a></span>
  </div>
</div>
