<div [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-accordion class="mb-2">
    <nb-accordion-item expanded="true">
      <nb-accordion-item-header class="font-weight-bold">PNR Retrieve
        <jupiter-api-response-status *ngIf="jupiterFlightPnrRetrieveRs" [status]="jupiterFlightPnrRetrieveRs.Status"></jupiter-api-response-status>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <form>
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="pnrNumber" class="label">PNR Number</label>
              <input nbInput fullWidth id="pnrNumber" name="pnrNumber" placeholder="PNR Number" [(ngModel)]="jupiterFlightPnrRetrieveRq.Request.PnrNumber">
            </div>

            <div class="form-group col-sm-4">
              <label for="connectorsDetail" class="label">Connector</label>
              <nb-select fullWidth id="connectorsDetail" placeholder="Connector" [multiple]="false" [outline]="true" (selectedChange)="handleConnectorsChanged($event)" [(selected)]="jupiterFlightPnrRetrieveRq.Request.ConnectorCode">
                <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
              </nb-select>
              <jupiter-connectors-environment [(ConnectorsEnvironment)]="jupiterFlightPnrRetrieveRq.ConnectorsEnvironment" [FilterConnectors]="jupiterFlightPnrRetrieveRq.Request.ConnectorCode"></jupiter-connectors-environment>
            </div>

            <div class="form-group col-sm-4">
              <label for="debugConnectors" class="label">Debug Connectors</label>
              <nb-select #selectDebugConnectors fullWidth id="debugConnectors" placeholder="Debug Connectors" [multiple]="true" [outline]="true" (selectedChange)="selectDebugConnectors.hide();" [(selected)]="jupiterFlightPnrRetrieveRq.Request.ConnectorsDebug">
                <nb-option *ngFor="let connector of connectors" [value]="connector">{{connector}}</nb-option>
              </nb-select>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-sm btn-primary" (click)="retrievePnr()"><i class="fas fa-exchange-alt"></i> Retrieve</button>
          </div>
        </div>

      </nb-accordion-item-body>
    </nb-accordion-item>

  </nb-accordion>

  <!-- FLIGHT PNR RETRIEVE MESSAGES/DEBUG -->
  <jupiter-api-messages-accordion Title="Flight PNR Retrieve" [ApiRs]="jupiterFlightPnrRetrieveRs"></jupiter-api-messages-accordion>
  <jupiter-api-debug-accordion Title="Flight PNR Retrieve" [(ApiRq)]="jupiterFlightPnrRetrieveRq" [ApiRs]="jupiterFlightPnrRetrieveRs"></jupiter-api-debug-accordion>
  <!-- END PNR RETRIEVE MESSAGES/DEBUG -->

  <!-- FLIGHT PNR RETRIEVE RESPONSE -->
  <div *ngIf="jupiterFlightPnrRetrieveRs && jupiterFlightPnrRetrieveRs.Response && jupiterFlightPnrRetrieveRs.Response.Pnr">
    <div *ngIf="jupiterFlightPnrRetrieveRs.Response.Pnr.PnrNumber" class="row m-1">
      <div class="col-md-12 text-center">
        <button class="btn btn-sm btn-danger center m-1" (click)="deletePnr()"><i class="fas fa-trash"></i> Delete PNR {{jupiterFlightPnrRetrieveRs.Response.Pnr.PnrNumber}}</button>
      </div>
    </div>
    <jupiter-flight-pnr-display [currentPnr]="jupiterFlightPnrRetrieveRs.Response.Pnr"></jupiter-flight-pnr-display>
  </div>
  <!-- END FLIGHT PNR RETRIEVE RESPONSE -->

  <!-- FLIGHT PNR DELETE MESSAGES/DEBUG -->
  <div *ngIf="jupiterFlightPnrDeleteRq">
    <jupiter-api-messages-accordion Title="Flight Pnr Delete" [ApiRs]="jupiterFlightPnrDeleteRs"></jupiter-api-messages-accordion>
    <jupiter-api-debug-accordion Title="Flight Pnr Delete" [(ApiRq)]="jupiterFlightPnrDeleteRq" [ApiRs]="jupiterFlightPnrDeleteRs"></jupiter-api-debug-accordion>
  </div>
  <!-- END FLIGHT PNR DELETE MESSAGES/DEBUG -->

  <!-- FLIGHT PNR DELETE RESPONSE -->
  <div *ngIf="jupiterFlightPnrDeleteRs && jupiterFlightPnrDeleteRs.Response && jupiterFlightPnrDeleteRs.Response.Pnr">
    <jupiter-flight-pnr-display [title]="'Flight Delete'" [currentPnr]="jupiterFlightPnrDeleteRs.Response.Pnr" class="border-danger"></jupiter-flight-pnr-display>
  </div>
  <!-- END FLIGHT PNR DELETE RESPONSE -->
</div>
