
<!--<nb-card>-->
<!--  <nb-card-header>Kibana-->
<!--    <a [href]="appConfigService.jupiterRemoteAppSettings.ElasticSearchSettings.KibanaUrl" target="_blank">Open <i class="fa fa-external-link-alt"></i></a>-->
<!--  </nb-card-header>-->
<!--  <nb-card-body>-->
<!--    <div class="pl-1">URL: {{appConfigService.jupiterRemoteAppSettings.ElasticSearchSettings.KibanaUrl}}</div>-->
<!--    <div class="pl-1">User: {{appConfigService.jupiterRemoteAppSettings.ElasticSearchSettings.User}}</div>-->
<!--    <div class="pl-1">Pass: {{appConfigService.jupiterRemoteAppSettings.ElasticSearchSettings.Password}}</div>-->
<!--  </nb-card-body>-->
<!--</nb-card>-->

<!--<nb-card style="height: 100%">-->
<!--  <nb-card-header>Kibana-->
<!--    <a [href]="appConfigService.jupiterRemoteAppSettings.ElasticSearchSettings.KibanaUrl" target="_blank">Open <i class="fa fa-external-link-alt"></i></a>-->
<!--    <span class="pl-1">User: {{appConfigService.jupiterRemoteAppSettings.ElasticSearchSettings.User}}</span>-->
<!--    <span class="pl-1">Pass: {{appConfigService.jupiterRemoteAppSettings.ElasticSearchSettings.Password}}</span>-->
<!--  </nb-card-header>-->
<!--  <nb-card-body>-->
<!--&lt;!&ndash;    <div><a [href]="kibanaUrlIframe" class="btn btn-primary" target="_blank">Open <i class="fa fa-external-link-alt"></i></a></div>&ndash;&gt;-->
<!--    <iframe *ngIf="kibanaUrlIframe" [src]="kibanaUrlIframe" width="100%" height="100%" style="border: none" ></iframe>-->
<!--  </nb-card-body>-->
<!--</nb-card>-->

